@import url("allpages.css");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");


.lne
{
  box-shadow: 1px 1px 10px 0px rgba(204, 204, 204, 0.9);
  background-color: #fcdfdb;
  font-family: "Kaushan Script";
  border-color: #fcdfdb;
}

.lcf
{
  box-shadow: 1px 1px 10px 0px rgba(204, 204, 204, 0.9);
  font-family: "Croissant One";
  color: #BD5914;
  border-color: #fff5fe;
  background-color:  #fff5fe;
}

.ldp
{
  box-shadow: 1px 1px 10px 0px rgba(204, 204, 204, 0.9);
  font-family: "Dancing Script";
  background-color: #FCFCFC  ;
  border-color: #FCFCFC;
  color: #027CC7 ;
}

.lpg
{
  box-shadow: 1px 1px 10px 0px rgba(204, 204, 204, 0.9);
  font-family: "Kaushan Script";
  background-color: #fdfffd;
  border-color: #fdfffd;
  color: green;
}

main
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  margin: auto;
}

.menu1
{
  color: black;
}

.menu2
{
  color: #BD5914;
}

.menu3
{
  color: #0790E4;
}

.menu4
{
  color: green;
}

article
{
  width: 210px;
  border: solid;
  height: 297px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  font-family: cursive;
}

article a {    
  transition: transform .5s, opacity .5s;
}

article a:hover
{
  transform: scale(1.2);
  opacity: .7;
}


h3
{
  color:#fdcb46;
  margin: .2rem auto;
  width: 165px;
  text-align: left;
}


.soon
{
  margin: auto;
  background-color: #009688;
  height: 35px;
  border-radius: 10px;
  width: 350px;
  border-color: #009688;
  display: block;
}

.soon h3:after{  
  content: "";
  animation: soonAnimate 1s;
  animation-iteration-count: infinite;
}

@keyframes soonAnimate{
  0%  { content: "" }
  25% { content: "." }
  50% { content: ".." }
  75% { content: "..." }
}


@media only screen and (min-width: 375px)
{
  .menus__zoom
  {
    width: 151.13px;
    height: 213.868px;
    margin: 0 1.42em 1.42em 1.425em;
  }

  .details
  {
    height: 673.6px;
  }
}

@media only screen and (min-width: 560px)
{
  section
  {
    align-self: center;
  }

  .details
  {
    width: 595px;
    height: 842px;
    font-size: 140%;
  }

  .details span
  {
    font-size: 80%;
  }

  .menus__zoom
  {
    width: 238px;
    height: 336.8px;
  }
}

@media only screen and (min-width: 768px)
{
  .details
  {
    width: 595px;
    height: 842px;
    font-size: 140%;
  }

  .underline
  {
    margin-top: -0.5em;
  }
}

@media only screen and (min-width: 1024px)
{
  section
  {
    align-self: center;
  }

  .details
  {
    width: 892.5px;
    height: 1263px;
    font-size: 210%;
  }

  .menus__zoom
  {
    width: 297.5px;
    height: 421px;
    font-size: 150%;
  }
}

@media only screen and (min-width: 1240px)
{
  section
  {
    align-self: center;
    width: 100%;
  }
}