@import url("allpages.css");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

main
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 60px;
  transform: scale(1);
  opacity: 1;
  transition: all 1s;
  background-color: #fcdfdb;
  padding: 80px;
  box-shadow: 1px 1px 10px 0px rgba(204, 204, 204, 0.9);
  background-color: #fcdfdb;
  font-family: "Kaushan Script";
  border-color: #fcdfdb;
}

.first
{
  text-align: center;
  padding-top: 30px;
  font-size :20px;
font-family: "Montserrat"}

a
{
  color: #c77412;
}

ul
{
  list-style: none;
}

li
{
  list-style: none;
}

.top
{
  font-size: 170%;
  font-family: "Kaushan Script";
}

.note
{
  margin: auto;
  color: red;
  font-size: 255%;
}
/*--------------------------------------------------------animations surlignement----------------------------------------------*/
/*h3
{
  position: relative;
  overflow: hidden;
  text-align: center;
  font-family: "Kaushan Script";
}

h3:after
{
  width: 50%;
  height: 2px;
  content: '\a0';
  background-color: #cec0cd;
  display: block;
  width: 0;
  position: relative;
  left: 30%;
  transition: width 1s;
}

h3:hover:after
{
  width: 40%;
}

h3 span
{
  letter-spacing: -2px;
  padding: 0 2rem;
}

--------------------------------------------------------ligne cotes gauche et droit titre----------------------------------------------*/
.black
{
 display: flex;
  justify-content: center;
  align-items: center;
  
}
@media screen and (min-width: 768px){

.black:before, .black:after
{
  content: '-----------------------------------'; 
  color: black;
  letter-spacing: -3px;
  margin: 0 .5rem;
}
}  
.final
{
    align-items: center;
  color: black;
 /* text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;*/
}

.finish
{
  color: black;
  font-family: "Kaushan Script";
  font-size: 30px;
}

.music
{
  color: red;
  font-size: 30px;
}

i
{
  font-size: 35px;
  background: #e50000;
  background: -moz-linear-gradient(left, #e50000 0%, #ff7400 100%);
  background: -webkit-linear-gradient(left, #e50000 0%,#ff7400 100%);
  background: linear-gradient(to right, #e50000 0%,#ff7400 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e50000', endColorstr='#ff7400',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dish
{
  font-family: "Kaushan Script";
  display: flex;
  justify-content: space-between;
}