@import url("allpages.css");
/*@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
main
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 60px;
  transform: scale(1);
  opacity: 1;
  transition: all 1s;
  padding: 80px;
  box-shadow: 1px 1px 10px 0px rgba(204, 204, 204, 0.9);
}

.first
{
  text-align: center;
  padding-top: 30px;
  font-size :20px;
font-family: "Montserrat"}

.note
{
  font-size: 50px;
  font-family: "Kaushan Script";
  background: #287c15;
  background: -moz-linear-gradient(left,  #287c15 0%, #abdc28 100%);
  background: -webkit-linear-gradient(left,  #287c15 0%,#abdc28 100%);
  background: linear-gradient(to right,  #287c15 0%,#abdc28 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#287c15', endColorstr='#abdc28',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  margin: auto;
}

.lddp_degrade
{
  font-size: 50px;
}

a
{
  color: #c77412;
}

.dish
{
  display: flex;
  justify-content: space-between;
  font-family: "Kaushan Script";
}

ul
{
  list-style: none;
}

h3
{
  position: relative;
  overflow: hidden;
  text-align: center;
  font-family: "Kaushan Script";
}

.prix
{
  text-align: right;
}

.tarif
{
  text-align: right;
}

.total
{
  text-align: right;
}

h4
{
  position: relative;
  overflow: hidden;
  text-align: center;
}

h4:before, h4:after
{
  /*position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 4px;
  content: '\a0';
  background-color: #81C784;*/
}

h4:before
{
  margin-left: -50%;
}

h4
{/*
  position: relative;
  overflow: hidden;
  text-align: center;*/
}

.terminer
{
  position: relative;
  overflow: hidden;
  text-align: center;
}

.terminer:before, .terminer:after
{
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 40%;
  height: 4px;
  content: '\a0';
  background-color: #0091EA;
}

.terminer:before
{
  margin-left: -50%;
}

.lne
{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px){
.lne:before, .lne:after
{/*
  position: absolute;
  top: 50%;
  overflow: hidden;
  width: 35%;
  height: 4px;
  content: '\a0';
  margin-left: 150px;
  background: #287c15;
  background: -moz-linear-gradient(left,  #287c15 0%, #abdc28 100%);
  background: -webkit-linear-gradient(left,  #287c15 0%,#abdc28 100%);
  background: linear-gradient(to right,  #287c15 0%,#abdc28 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#287c15', endColorstr='#abdc28',GradientType=1 );
}*/content: '----------------------------------------------------------'; 
  background: #287c15;
  background: -moz-linear-gradient(left,  #287c15 0%, #abdc28 100%);
  background: -webkit-linear-gradient(left,  #287c15 0%,#abdc28 100%);
  background: linear-gradient(to right,  #287c15 0%,#abdc28 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4a930', endColorstr='#474fe0',GradientType=1 ); */
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -3px;
  margin: 0 .5rem;
}
.lne:before
{
  background: #287c15;
  background: -moz-linear-gradient(right,  #287c15 0%, #abdc28 100%);
  background: -webkit-linear-gradient(right,  #287c15 0%,#abdc28 100%);
  background: linear-gradient(to right,  #287c15 0%,#abdc28 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4a930', endColorstr='#474fe0',GradientType=1 ); */
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 } 
.lne:after
{
 background: #287c15;
  background: -moz-linear-gradient(left,  #287c15 0%, #abdc28 100%);
  background: -webkit-linear-gradient(left,  #287c15 0%,#abdc28 100%);
  background: linear-gradient(to left,  #287c15 0%,#abdc28 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4a930', endColorstr='#474fe0',GradientType=1 ); */
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  

}


