@import url("allpages.css");
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* ajouter pt sherif */

main
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 60px;
  transform: scale(1);
  opacity: 1;
  transition: all 1s;
  background-color:  #fff5fe;
  padding: 80px;
  box-shadow: 1px 1px 10px 0px rgba(204, 204, 204, 0.9);
}

.first
{
  text-align: center;
  padding-top: 30px;
  font-size :20px;
font-family: "Montserrat"}

a
{
  color: #c77412;
}

ul
{
  list-style: none;
}

.menu1
{
  color: #BD5914;
  font-family: "Pangolin";
}

.menu2
{
  color: #9e4a9d;
}

.menu3
{
  color: #3d3585;
}

li
{
  list-style: none;
}

h2
{
  font-size: 30px;
}

a.underline
{
  /* display: block;
  */
  /* width: fit-content;
  */
}

a.underline:after
{
  display: block;
  background-color: #eb8600;
  width: 100%;
  height: 3px;
  content: " ";
}

h3
{
  position: relative;
  overflow: hidden;
  text-align: center;
  font-family: "PT Serif";
}

h3 span
{
  letter-spacing: -2px;
  padding: 0 1rem;
  width: 60px;
}

.degr
{
  position: relative;
  overflow: hidden;
  text-align: center;
}
.degr:before, .degr:after
{
  position: absolute;
  top: 50%;
  overflow: hidden;
  width: 35%;
  height: 4px;
  content: '\a0';
  margin-left: 150px;
  
  background: #f4a930;
  background: -moz-linear-gradient(left,  #f4a930 10%, #474fe0 100%);
  background: -webkit-linear-gradient(left,  #f4a930 10%,#474fe0 100%);
  background: linear-gradient(to right,  #f4a930 0%,#474fe0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4a930', endColorstr='#474fe0',GradientType=1 ); 
  
}

.degr:before
{
  margin-left: -50%;
}


.final
{
  align-items: center;
  color: black;
}

.dish
{
  display: flex;
  justify-content: space-between;
}