
body
{
  margin: 0;
  background-color: white;
  text-align: center;
}

header
{
  background-color: #009688;
  height: 70px;
  display: flex;
  /* margin: 0;
  */
  justify-content: center;
  align-items: center;
}

.lne
{
  background-color: #fcdfdb;
  border-color: #fff5fe;
  font-family: "Kaushan Script";
}

.lcf
{
  font-family: "Croissant One";
  color: #BD5914;
  border-color: #fff5fe;
  background-color:  #fff5fe;
}

.ldp
{
  font-family: "Dancing Script";
  background-color: #FCFCFC  ;
  border-color: #FCFCFC;
  color: #027CC7 ;
}

.lpg
{
  font-family: "Kaushan Script";
  background-color: #fdfffd;
  border-color: #fdfffd;
  color: green;
}

a
{
  text-decoration: none;
}

i
{
  color: #FF5722;
}

container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  margin: auto;
}

.menu1
{
  color: black;
}

.menu2
{
  color: #BD5914;
}

.menu3
{
  color: #0790E4;
}

.menu4
{
  color: green;
}

article
{
  width: 210px;
  border: solid;
  height: 297px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  transition: transform .5s, opacity .5s;
  font-family: cursive;
}

article:hover
{
  transform: scale(1.2);
  opacity: .7;
}

footer
{
  background-color: #009688;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  border: 0;
  bottom: 0;
  height: 3rem;
  width: 100%;
}

h1
{
  color: #fdcb46;
  font-family: "Pangolin";
}

h3
{
  color:#fdcb46;
}

.soon
{
  margin: auto;
  background-color: #009688;
  height: 35px;
  border-radius: 10px;
  width: 350px;
  border-color: #009688;
}