@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
body
{
  margin: 0;
  background-color: white;
  text-align: center;
}

main
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 60px;
  transform: scale(1);
  opacity: 1;
  transition: all 1s;
  padding: 80px;
}

header
{
  background-color: #009688;
  height: 70px;
  display: flex;
  /* margin: 0;
  */
  justify-content: center;
  align-items: center;
}

.note
{
  font-size: 50px;
  font-family: "Kaushan Script";
  background: #287c15;
  background: -moz-linear-gradient(left,  #287c15 0%, #abdc28 100%);
  background: -webkit-linear-gradient(left,  #287c15 0%,#abdc28 100%);
  background: linear-gradient(to right,  #287c15 0%,#abdc28 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#287c15', endColorstr='#abdc28',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1
{
  color: #fdcb46;
  font-family: "Pangolin";
}

a
{
  text-decoration: none;
  color: #c77412;
}

.dish
{
  display: flex;
  justify-content: space-between;
  font-family: "Kaushan Script";
}

ul
{
  list-style: none;
}

h3
{
  position: relative;
  overflow: hidden;
  text-align: center;
  font-family: "Kaushan Script";
}

h3:before, h3:after
{
  position: absolute;
  top: 50%;
  overflow: hidden;
  width: 50%;
  height: 4px;
  content: '\a0';
  background-color: green;
  margin-left: 40px;
}

h3:before
{
  margin-left: -55%;
}

.prix
{
  text-align: right;
}

.tarif
{
  text-align: right;
}

.total
{
  text-align: right;
}

h4
{
  position: relative;
  overflow: hidden;
  text-align: center;
}

h4:before, h4:after
{
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 4px;
  content: '\a0';
  background-color: #81C784;
}

h4:before
{
  margin-left: -50%;
 }

h4
{
  position: relative;
  overflow: hidden;
  text-align: center;
}

.terminer
{
  position: relative;
  overflow: hidden;
  text-align: center;
}

.terminer:before, .terminer:after
{
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 4px;
  content: '\a0';
  background-color: #0091EA;
}

.terminer:before
{
  margin-left: -50%;
 }

h5
{
  color:#fdcb46;
  text-decoration: none;
  font-size: 20px;
}

footer
{
  background-color: #009688;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  border: 0;
  bottom: 0;
  height: 3rem;
  width: 100%;
}

.btns__btn 
{  
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -1px) rotate(-1deg);
  }
}
