body
{
  margin: 0;
  background-color: white;
  text-align: center;
}

header
{
  background-color: #009688;
  height: 70px;
  display: flex;
  /* margin: 0;
  */
  justify-content: center;
  align-items: center;
}

.note
{
  text-align: center;
  color: #0905ff;
  font-size: 60px;
  font-family: "Dancing Script";
}

h1
{
  color: #fdcb46;
  font-family: "Pangolin";
}

a
{
  text-decoration: none;
  color: #c77412;
}

.dish
{
  display: flex;
  justify-content: space-between;
  font-family: "Dancing Script";
}

ul
{
  list-style: none;
}

h3
{
  position: relative;
  overflow: hidden;
  text-align: center;
  font-family: "Dancing Script";

}

h3:before, h3:after
{
  position: absolute;
  top: 50%;
  overflow: hidden;
  width: 50%;
  height: 4px;
  content: '\a0';
  background-color: #0905ff;
  margin-left: 40px;
  
}

h3:before
{
  margin-left: -55%;
  
}

.prix
{
  text-align: right;
}

.tarif
{
  text-align: right;
}

.total
{
  text-align: right;
}

h4
{
  position: relative;
  overflow: hidden;
  text-align: center;
}

h4:before, h4:after
{
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 4px;
  content: '\a0';
  background-color: #81C784;
}

h4:before
{
  margin-left: -50%;
text-align: }

h4
{
  position: relative;
  overflow: hidden;
  text-align: center;
}

h5
{
  color:#fdcb46;
  text-decoration: none;
  font-size: 20px;
}

.terminer
{
  position: relative;
  overflow: hidden;
  text-align: center;
}

.terminer:before, .terminer:after
{
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 4px;
  content: '\a0';
  background-color: #0091EA;
}

.terminer:before
{
  margin-left: -50%;
text-align: }

footer
{
  background-color: #009688;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  border: 0;
  bottom: 0;
  height: 3rem;
  width: 100%;
}