body
{
  margin: 0;
  background-color: white;
  text-align: center;
}

container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 60px;
  transform: scale(1);
  opacity: 1;
  transition: all 1s;
  background-color:  #fff5fe;
  padding: 80px;
}

a
{
  text-decoration: none;
  color: #c77412;
}

ul
{
  list-style: none;
}

.menu1
{
  color: orange;
  font-family: "Pangolin";
}

.menu2
{
  color: #9e4a9d;
}

.menu3
{
  color: #3d3585;
}

li
{
  list-style: none;
}

h1
{
  color: #fdcb46;
  font-family: "Pangolin";
}

h2
{
  color: background: #f4a930;
background: -moz-linear-gradient(left, #f4a930 0%, #474fe0 100%);
background: -webkit-linear-gradient(left, #f4a930 0%,#474fe0 100%);
background: linear-gradient(to right, #f4a930 0%,#474fe0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4a930', endColorstr='#474fe0',GradientType=1 );
  font-family: "Croissant One";
  margin-bottom: 50px;

}

h2 {
   
   taille de police : 10px;
  fond : -webkit-gradient-linéaire (#eee, # 333);
  -webkit-background-clip : texte;
  -webkit-text-fill-color : transparent;

}

header
{
  background-color: #009688;
  height: 70px;
  display: flex;
  /* margin: 0;
  */
  justify-content: center;
  align-items: center;
}

.note
{
  color: red;
}

h3
{
  position: relative;
  overflow: hidden;
  text-align: center;
  font-family: "PT Serif";
}

h3:before, h3:after
{
  position: absolute;
  top: 50%;
  overflow: hidden;
  width: 50%;
  height: 4px;
  content: '\a0';
  background-color: black;
  margin-left: 40px;
}

h3:before
{
  margin-left: -55%;
}

.final
{
  align-items: center;
  color: black;
}

h5
{
  color:#fdcb46;
  text-decoration: none;
  font-size: 20px;
}

footer
{
  background-color: #009688;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  border: 0;
  bottom: 0;
  height: 3rem;
  width: 100%;
}

.dish
{
  display: flex;
  justify-content: space-between;
}